
body{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  align-items: center;
  background: url("./images/background.jpg") center/cover no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}

.todos-title{
  /* margin: 30px; */
  padding-bottom: 50px;
}

.todos{
  align-items: center;
  border-radius: 3px;
  background: #e8e8e8;
  border-radius: 4px;
  /* max-width: 400px; */
  padding: 5px;
  margin-bottom: 5px;
  /* justify-content: space-between; */
  /* margin-left: 100px; */
  /* width: 15vw; */
  /* padding-left: 50px; */
  /* display: inline; */
}

.form_align{  
  margin-bottom: 30px;
}

#todoItem{
  text-align: left;
  border-radius: 7px;
  justify-content:space-between;
 
}

/* .todoList{
  text-align: left;
  justify-content: space-between;
} */
#completeButton{
  align-items: right;
}

/* .buttonClass{
  text-align: right; 
} */
/* #trashCan{
  border: 2px, solid, red;
} */

/* .center{
  justify-content: center;
} */
/* .todoform{
  display: grid;
  place-items: center;
} */

/* .form{
  align-items: center;
  margin: auto;
  display: block; 
  width: 100%;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
